<app-home></app-home>

<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <div class="form-group">
        <label>E-mail</label>
        <input class="form-control" type="text" formControlName="mail" required   
        [ngClass]="{ 'is-invalid': submitted && f.mail.errors }"
        />
        <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
          <div *ngIf="f.mail.errors.required">E-mail is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" formControlName="password" required   
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" formControlName="name" required   
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
        />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Phone Number</label>
        <input class="form-control" type="text" formControlName="phoneNumber" required
        [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
        />
        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
          <div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
          <div *ngIf="f.phoneNumber.errors.maxlength">Phone Number is having the max length of 10</div>
          <div *ngIf="f.phoneNumber.errors.pattern">Phone Number allow only numbers</div>
        </div>
      </div>

      <div class="form-group">
        <label>Address</label>
        <input class="form-control" type="text" formControlName="address" required
        [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
        />
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>State</label>
        <input class="form-control" type="text" formControlName="state" required
        [ngClass]="{ 'is-invalid': submitted && f.state.errors }"
        />
        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
          <div *ngIf="f.state.errors.required">State is required</div>
          
        </div>
      </div>
      <div class="form-group">
      <label>Role</label>
      <select class="form-control" type="text" formControlName="role" required
      [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
      <option selected>--Select--</option>
      <option value = "admin">Admin</option>
      <option value = "employee">Employee</option>
    </select>
      <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
        <div *ngIf="f.role.errors.required">City is required</div>
      </div>
    </div>
      <div class="form-group">
        <label>City</label>
        <input class="form-control" type="text" formControlName="city" required
        [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
        />
        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
          <div *ngIf="f.city.errors.required">City is required</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Update</button>
      </div>
    </form>
  </div>
</div>
